name: Disparo Manual de Testes K6

on:
  workflow_dispatch:
    inputs:
      vus:
        description: Número de VUs para o K6 (opcional)
        required: false
        default: "3"

      iterations:
        description: Número de Iterations para o K6 (opcional)
        required: false
        default: "3"

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Instalar k6
        run: sudo apt install k6 -y

      - name: Rodar testes de performance K6
        run: |
          echo "Executando k6 com VUs=${{ github.event.inputs.vus }} e Iterations=${{ github.event.inputs.iterations }}"
          k6 run tests/k6/agendamentoLoad.k6.test.js \
            -e BASE_URL_REST=${{ secrets.BASE_URL_REST }} \
            --vus ${{ github.event.inputs.vus }} \
            --iterations ${{ github.event.inputs.iterations }} \
            --out html=html-report.html

      - name: Publicar relatório K6
        uses: actions/upload-artifact@v3
        with:
          name: k6-html-report
          path: html-report.html
